<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="Host" value="openbarrage.douyutv.com"/>
    <add key="Port" value="8601"/>
    <add key="BufferSize" value="4096"/>
    <!-- 心跳时间，单位秒 -->
    <add key="KeepAlive" value="45"/>
    <!-- 清空输出，单位分钟 -->
    <add key="ClearOutput" value="5"/>
  </appSettings>
</configuration>